################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicQuadtree/Debug/BasicQuadtree.tlog
